@using Microsoft.AspNetCore.Components.Authorization
@using PathfinderPhotography.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService UserService
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">📸 Pathfinder Photography</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="submit">
                        <span class="bi bi-upload-nav-menu" aria-hidden="true"></span> Submit Photos
                    </NavLink>
                </div>

                @if (isInstructor)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="grading">
                            <span class="bi bi-clipboard-check-nav-menu" aria-hidden="true"></span> Grade Submissions
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gallery">
                <span class="bi bi-images-nav-menu" aria-hidden="true"></span> Gallery
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="vote">
                        <span class="bi bi-hand-thumbs-up-nav-menu" aria-hidden="true"></span> Vote on Photos
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="top-photos">
                <span class="bi bi-trophy-nav-menu" aria-hidden="true"></span> Top Photos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool isInstructor = false;
    
    protected override async Task OnInitializedAsync()
    {
        AuthenticationStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
        await CheckInstructorStatus();
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        try
        {
            await CheckInstructorStatus();
            await InvokeAsync(StateHasChanged);
        }
        catch
        {
            // Ignore errors during async event handling
        }
    }

    private async Task CheckInstructorStatus()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        if (user.Identity?.IsAuthenticated == true)
        {
            var email = user.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
            if (!string.IsNullOrEmpty(email))
            {
                isInstructor = await UserService.IsInstructorAsync(email);
            }
        }
        else
        {
            isInstructor = false;
        }
    }

    public void Dispose()
    {
        AuthenticationStateProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
}